{% load staticfiles %}<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" /></script>

    <link href="{% static 'scheduler/theme.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="page">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
