{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />

    <title>Not found</title>

    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" /></script>


    <link href="{% static 'scheduler/theme.css' %}" rel="stylesheet" />

  </head>

  <body>
    <div class="page">
      <h1>Timetable not found</h1>
      <p>'{{ volunteer }}' is not a valid volunteer; or '{{ event }}' is not a valid event.</p>

      <button onclick="window.history.back();">Go back</button>

      </script>

    </div>

  </body>
</html>
