{% extends 'base.html' %}

{% block title %}{{ volunteer.real_name }}'s timetable for {{ event.name }}{% endblock %}

{% block content %}
  <h1>{{ volunteer.real_name }}'s timetable for {{ event.name }}</h1>
  <p>{{ event.description }}</p>

  <hr />

  <table class="table-bordered" id="timetable">
    <tr>
      <th></th>
      {% for day in number_of_days %}
        <th>Day {{ day }}</th>
      {% endfor %}
    </tr>
    {% for allocation in allocations %}
      <tr>
        <th>Slot {{ forloop.counter }}</th>
        <td>
          {% if allocation.0 %}
            {{ allocation.0.job.name }}
            {% if allocation.0.manual %}
              <span class="manualtext" title="This task was assigned to you manually.">M</span>
            {% endif %}
          {% else %}
            <em>- FREE -</em>
          {% endif %}
        </td>
        <td>
          {% if allocation.1 %}
            {{ allocation.1.job.name }}
            {% if allocation.1.manual %}
              <span class="manualtext" title="This task was assigned to you manually.">M</span>
            {% endif %}
          {% else %}
            <em>- FREE -</em>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
